.menu {text-align: right;
    padding: 20px;}
    
    li {display: inline-block;
    margin-right: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;}
.home-colour {color: #9CBCD6;}
.home-colour:hover {color:black;}
.horoscope {color: #9CBCD6;
}
.horoscope:hover {color:black;}
img { display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 150px;
    max-width: 900%;
    max-height: 800%;
    margin-top: 150px;
   }
.image-banner{ background-color: #CDE5F5;
    margin-top: 200px;
border-image-width: 1000px;}

p{display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
width: 40%;
font-family: Georgia, 'Times New Roman', Times, serif;
color: #C6DDFA;
font-size: large;
text-shadow: 0.2px 0.2px #9CBCD6;

}